<h1>Users</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>

  <% @users.each do |p| %>
    <tr>
      <td><%= p.id %></td>
      <td><%= p.name %></td>
      <td><%= link_to 'Show', p %></td>
      <td><%= link_to 'Edit', edit_user_path(p) %></td>
      <td><%= link_to 'Delete', user_path(id: p.id), method: :delete %></td>
    </tr>
  <% end %> 
</table>

<p><%= link_to 'Create new user', new_user_path %></p>